.container {
  background-image: url("/./assets/home/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .container {
    background-image: url("/./assets/home/tablet/image-hero.jpg");
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-image: url("/./assets/home/mobile/image-hero.jpg");
  }
}
