.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  composes: import h6 from "@/styles/Utils.module.scss";
}

.button {
  composes: import primary from "@/styles/Button.module.scss";
  width: 100%;
}
